# Weight Estimation & Growth Forecasting Service Environment Variables

# PostgreSQL Database Connection
DATABASE_URL=postgresql://hydroponic_user:your_secure_password@localhost:5432/hydroponic_iot

# JWT Configuration (must match auth service)
SECRET_KEY=your-secret-key-change-this-in-production
ALGORITHM=HS256

# Camera Calibration Parameters
FX=615.0
FY=615.0
DEPTH_SCALE=0.001

# Segmentation Model Parameters
SEG_THRESHOLD=0.5
USE_IMAGENET_NORM=false



# .env
# # PostgreSQL Database Connection
# DATABASE_URL=postgresql://hydroponic_user:hydroponic2026@localhost:5432/hydroponic_iot

# SECRET_KEY=6bN5a99XJv-6e5Htj80BWEMo5rKN_sD-TEYzV9RHKY8lk076-Co3S5EC_SUbYwJW
# ALGORITHM=HS256
# FX=1371.58264160156 
# FY=1369.42761230469
# DEPTH_SCALE=0.00100000004749745
# SEG_THRESHOLD=0.5
# USE_IMAGENET_NORM=false
